.bot-response-message {
  display: flex;
  align-items: flex-start;
  background-color: var(--green-100);
  border-radius: 4px;
  padding: 16px;
  .image {
    border-radius: 4px;
  }
  .data {
    padding-left: 12px;
    padding-top: 6px;
    width: 100%;
    .graph-data {
      margin-bottom: 20px;
    }
  }
}
