.app-container {
  .messages-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 130px;
    @media (max-width: 767px) {
      width: 90%;
    }
  }
}
